@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Regular.woff2"), url("./fonts/TTLakes-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Medium.woff2"), url("./fonts/TTLakes-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Bold.woff2"), url("./fonts/TTLakes-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  color: rgba(27, 28, 33, 1);
}

body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: TTLakes, "sans-serif";
  font-weight: 500;
}

.header {
  min-width: 320px;
  height: 88px;
  border-bottom: 2px solid #d9fff5;
  background-color: #ffffff;
}

.btn {
  list-style-type: none;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(94, 3, 46);
}

.icon-burger {
  background-image: url(./image/icon-BURGER.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-check {
  background-image: url(./image/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-search {
  background-image: url(./image/icon-search.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-phone {
  background-image: url(./image/icon-phone.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-chat {
  background-image: url(./image/icon-chat.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-profile {
  background-image: url(./image/icon-profile.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-hide {
  background-image: url(./image/icon-hide.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-find {
  background-image: url(./image/icon-find.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.title-decor::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.info-section__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-family: TTLakes, "sans-serif";
  font-weight: 500;
  letter-spacing: -0.2px;
  color: inherit;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px 24px 16px;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    gap: 16px;
  }

  .menu-left {
    display: flex;
    gap: 16px;
  }

  .info-section__image {
    width: 100vw;
    min-height: 176px;
    margin-left: -16px;
  }

  .menu-right {
    display: flex;
    gap: 16px;
    align-self: flex-end;
  }

  .logo-link {
    display: flex;
    gap: 16px;
    align-self: center;
  }

  .header-decor::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    align-self: center;
  }

  .title {
    margin: 0;
    font-family: "TTLakes", "sans-serif";
    font-weight: 700;
  }

  .info-section__discription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    line-height: 18px;
    letter-spacing: 0.2px;
    font-family: TTLakes, "sans-serif";
    font-weight: 400;
    font-size: 14px;
  }

  .info-section__btn {
    margin-bottom: 16px;
  }

  .text-decor::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./image/text-decor.png);
    vertical-align: top;
  }

  .info-section__discription {
    display: flex;
    flex-direction: column;
  }

  .navigation__list {
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
  }

  .navigation__item {
    display: flex;
    list-style-type: none;
  }

  .navigation__link {
    font-size: 16px;
    padding: 8px 10px 8px 16px;
    text-decoration: none;
    color: #7e7e82;
  }

  .navigation__link--active {
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 5px;
  }

  .navigation__link:hover {
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 5px;
  }

  .buttons-tablet,
  .info-section__text-two--hidden,
  .desktop-buttons {
    display: none;
  }

  .btn:hover {
    background-color: rgb(94, 3, 46);
  }

  .info-section__text-one {
    margin: 0;
  }
}

/* .............Планшет............... */

@media screen and (min-width: 769px) and (max-width: 1119px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 24px 24px 24px;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    gap: 16px;
  }

  .menu-left {
    display: flex;
    gap: 20px;
  }

  .logo-link {
    display: flex;
    gap: 20px;
    align-self: center;
  }

  .info-section__image {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    flex-grow: 1;
  }

  .menu-right {
    display: flex;
    gap: 16px;
  }

  .header-decor::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    align-self: center;
  }

  .title {
    margin: 0;
    font-family: "TTLakes", "sans-serif";
    font-weight: 700;
  }

  .info-section {
    display: flex;
    flex-direction: row;

    gap: 48px;
    line-height: 20px;
    font-size: 14px;
    font-family: TTLakes, "sans-serif";
    font-weight: 400;
  }

  .info-section__discription {
    width: 50%;
    height: 100px;
    letter-spacing: 0.2px;
  }

  .text-decor::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./image/text-decor.png);
    vertical-align: top;
  }

  .navigation__list {
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
  }

  .navigation__item {
    display: flex;
    list-style-type: none;
  }

  .navigation__link {
    font-size: 16px;
    padding: 8px 10px 8px 16px;
    text-decoration: none;
    color: #7e7e82;
  }

  .navigation__link--active {
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 5px;
  }

  .navigation__link:hover {
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 5px;
  }

  .buttons-tablet {
    display: flex;
    gap: 16px;
  }

  .tablet-decor::after {
    content: "";
    display: flex;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    align-self: center;
    margin: 0 4px 0 4px;
  }

  .desktop-buttons {
    display: none;
  }

  .info-section__text-desktop--hidden {
    display: none;
  }

  .info-section__text-one {
    margin-top: 0;
  }
}

/* .............комп.................. */

@media screen and (min-width: 1120px) {
  header {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 42px 34px 0 34px;
  }

  .desktop-buttons {
    display: flex;
    gap: 32px;
  }

  .desktop-buttons__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: inherit;
    font-family: TTLakes, "sans-serif";
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    letter-spacing: -0.2px;
    line-height: 24px;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    gap: 16px;
  }

  .menu-left {
    display: flex;
    gap: 16px;
  }

  .logo-link {
    display: flex;
    gap: 20px;
    align-self: center;
  }

  .info-section__text-one {
    margin-bottom: 0;
  }

  .info-section__image {
    width: 100%;
    min-height: 307px;
    position: relative;
    left: 0;
    border-radius: 5px;
  }

  .menu-right {
    display: flex;
    gap: 16px;
    align-self: flex-end;
  }

  .header-decor::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    align-self: center;
  }

  .title {
    margin: 0;
    font-family: "TTLakes", "sans-serif";
    font-weight: 700;
  }

  .info-section {
    display: flex;
    flex-direction: row;
    gap: 0 36px;
    line-height: 20px;
    font-size: 14px;
    font-family: TTLakes, "sans-serif";
    font-weight: 400;
    font-size: 14px;
  }

  .info-section__discription {
    display: flex;
    flex-direction: column;
  }

  .text-decor::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./image/text-decor.png);
    vertical-align: top;
  }

  .navigation__list {
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    flex-wrap: wrap;
  }

  .navigation__item {
    list-style-type: none;
  }

  .navigation__link {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 8px 10px 8px 16px;
    text-decoration: none;
    color: #7e7e82;
  }

  .navigation__link--active {
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 5px;
  }

  .navigation__link:hover {
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 5px;
  }

  .desktop-title {
    display: flex;
    justify-content: space-between;
  }
}

/* .............pop-up............ */

.pop-up {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  background-color: rgba(255, 255, 255, 1);
}

.pop-up__container {
  display: flex;
  flex-direction: column;
  padding: 23px 24px 32px 24px;
  min-height: 100vh;
  justify-content: space-between;
  box-sizing: border-box;
}

.pop-up__head {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 57px;
}

.pop-up__head-left {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.pop-up__navigation-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-start;
  padding-bottom: 30px;
}

.pop-up__navigation-link {
  text-decoration: none;
  font-family: TTLakes, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: rgba(27, 28, 33, 1);
  font-weight: 500;
}

.pop-up__navigation-link--active {
  color: rgba(126, 126, 130, 1);
}
.pop-up__navigation-link--active::before,
.pop-up__navigation-link:hover::before,
.pop-up__navigation-link:focus::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  left: 0;
}

.pop-up__navigation-link:hover,
.pop-up__navigation-link:focus {
  color: rgba(126, 126, 130, 1);
}

.pop-up__footer {
  display: flex;
  flex-direction: column;
}

.pop-up__block-btn {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.pop-up__phone-link {
  font-size: 24px;
  letter-spacing: -0.6px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.pop-up__block-contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pop-up__lang {
  display: flex;
  gap: 7px;
}

.pop-up__lang-link--active {
  color: rgba(126, 126, 130, 1);
}
